<div id="<%= dom_id profile %>">
  <p> 
    <%= profile.name %>
  </p>

  <p> 
    <%= link_to profile.youtube %>
  </p> 

    <p> 
    <%= link_to profile.twitch %>
  </p>

  <p> 
    <%= link_to profile.twitter %>
  </p>

  <p> 
    <%= link_to profile.email %>
  </p>

  <p> 
    <%= profile.other %>
  </p>

</div>
